<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">calendrier</h3>
</div>

<h4>{{calendrier.summary}} mis à jour le {{calendrier.updated | date : 'dd/MM/yyyy'}}</h4>

<table>
    <tr ng-repeat="item in calendrier.items">
        <td><a ng-href="#/event/{{item.id}}">{{item.summary}}</a></td>
        <td ng-click="alert(item.status)">{{item.start.dateTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{item.end.dateTime | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
    </tr>
</table>


<input name="montexte" ng-model="montexte"/>

<div class="footer">
    <p>♥ from the Yeoman team</p>
</div>
                                                                                                                                                                                             3